<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="mt-4">Leaderboard</h1>
        <p class="lead mb-3">Welcome to the Leaderboard <%= name %> Please read the instructions
            below and when you're ready to play click the "Let's get started" button below to start the game.</p>
    </div>
    <div class="card text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, totam.</p>
    </div>
    <br>
    <div class="buttons text-center">
        <button type="button" class="btn btn-secondary">Let's get started</button>
        <br>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>